<p-table [value]="employeeList" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr class="text-center">
      <th>Nombre</th>
      <th>Edad</th>
      <th>Rol</th>
      <th>Eliminar</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-employee let-i="index">
    <tr>
      <td>{{ employee.name | titlecase }}</td>
      <td>{{ employee.age }}</td>
      <td>{{ employee.rol }}</td>
      <td>
        <p-button
          (click)="onDeletEmployee(employee.id)"
          icon="pi pi-times"
          styleClass="p-button-danger"
        ></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>
